@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'ow';
    font-style: normal;
    font-weight: 400;
    src: local() url('../fonts/OVERWATCH.ttf') format('truetype');
}